#title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}
#image {
  width: 100%;
}

#img-div {
  text-align: center;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  text-align: center;
}

#tribute-link {
  text-align: center;
  display: block;
}

#link {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 2px;
  background-color: rosybrown;
}
